/*body {
background-image: url(../images/background/astronautbckg.png);
}

*/

body {
	color: #A8FF85;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
/*	background-image: url(../images/background/stars.png);*/
	/*height: 380px;*/ /* You must set a specified height */
	height: 100%; 
  	background-position: center; /* Center the image */
  	background-repeat: repeat; /* Do not repeat the image */
  	background-size: cover;
}



.bacterialPlanet #pic{
	position: relative;
	max-width:30vw;
	max-height:30vw;
	margin-top: 6vw;
	margin-left: 2vw;
}

.DNAUFO #pic{
	position: absolute;
	max-width:15vw;
	max-height:15vw;
	margin-top: 2vw;
	margin-left: 30vw;
}

.astraunaut #pic{
	position: absolute;
	max-width:12vw;
	max-height:12vw;
	margin-top: 24vw;
	margin-left: 83vw;
}

.HomeIntro{
	font-family: 'Exo 2', sans-serif;
	color: #fff;
	position: absolute;
	max-width: 45vw;
	margin-top: 17.5vw;
	margin-left: 36vw;
	font-size: 1.4vw;
}



/*.the-blur{
   	position: relative;
  top:0;
    width: 100%;
  min-height: 50px;
margin-bottom: 10px;
    background: rgba(0,0,0,.5);
  z-index:2000;
  -webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
opacity: 0.5;
    filter: alpha(opacity=50);
}*/

/*#cssnav {
opacity: 0.7;
filter: alpha(opacity=70); 
}
*/
